{% extends 'main.html' %}
{% load static %}
{% load compress %}

{% block css %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart/css/cart.css' %}">
  {% endcompress %}
{% endblock %}

{% block content %}
<div class="pt-3 d-flex justify-content-center"> 
  <div class="d-inline-flex px-3 py-2">
    <h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">Корзина</h3>
  </div>
</div>
<div class="container">
	<div>
		<div class="row justify-content-center">

			<div class="col-lg-6 col-11 pt-3 mt-0" id='cart-items' style="color: black; font-size: 15px;">

				{% if cart %}
				<div class="cart-items">
					{% include 'cart/partials/product_list.html' with items=cart.items.all%}
				</div>
				{% else %}
				<span>Товаров в корзине нет</span>
				{% endif %}

			</div>

			<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content" style="border-radius: 15px">
						<div class="modal-header">
							<h5 class="modal-title" id="confirmDeleteModalLabel">Подтвердите удаление</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Точно ли вы хотите удалить этот товар?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
							<button type="button" class="btn btn-outline-danger" id="deleteConfirmBtn">Удалить</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 pt-3 mt-0">
				<div class="shadow-sm p-3  mx-1 flex-column" style="border-radius: 15px; background-color: white">
					<div class="col d-flex">
						<div class="d-inline-flex me-3 p-2">
							<span style="font-size: 17px;">Итого к оплате:</span>
						</div>
						<div class="d-inline-flex">
							<span class="fw-bold" style="font-size: 26px;" id="cart-total-price" >{{cart.total|floatformat:"0"}}₽</span>
						</div>
					</div>
					<div class="col">
						<p class="text-center mt-4" style="font-size: 14px;" id="cart-total-count" >{{cart.quantity}} товаров</p>
					</div>
					<div class="col">
						<a id='checkout-btn' class="btn btn-outline-dark" href="" style="width:100%; border-radius: 15px;">Перейти к оформлению</a>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'cart/js/cart.js' %}"></script>
{% endblock content %}
