# Игнорировать файлы кеша
__pycache__/

# Игнорировать файлы .pyc
*.pyc

# Игнорировать файлы базы данных SQLite
*.db
*.sqlite3

# Игнорировать временные файлы
*.tmp

# Игнорировать директорию с зависимостями
venv/

# Игнорировать файлы с личной информацией
config.json
secrets.txt