# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

private.pem
.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
local_settings.py
.env
.env.*
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Static / media files
staticfiles/
static_root/
media/
*.bak

# Poetry / pip
poetry.lock
__pypackages__/

# Node / frontend (если используется)
node_modules/
*.map
