volumes:
  pg_data:
    external: true
    name: app_pg_data
  static:
    external: true
    name: app_static
  media:
    external: true
    name: app_media
  redis_data:
    external: true
    name: app_redis_data

services:
  db:
    image: postgres:16-alpine
    env_file: ops/env/.env.prod
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB -h 127.0.0.1"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7-alpine
    env_file: ops/env/.env.prod
    command: >
      sh -lc 'exec redis-server
      --appendonly yes
      --requirepass "$$REDIS_PASSWORD"'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", 'redis-cli -a "$$REDIS_PASSWORD" PING | grep -q PONG']
      interval: 5s
      timeout: 3s
      retries: 20

  web:
    build:
      context: .
      dockerfile: infra/docker/web.Dockerfile
    hostname: mail.lightbikeshop.ru
    env_file: ops/env/.env.prod
    environment:
      APP_ROLE: web
    depends_on: [db, redis]
    ports: []
    volumes:
      - static:/app/staticfiles
      - media:/app/media

  worker:
    build:
      context: .
      dockerfile: infra/docker/web.Dockerfile
    hostname: mail.lightbikeshop.ru
    env_file: ops/env/.env.prod
    environment:
      APP_ROLE: worker
    depends_on: [db, redis]
    volumes:
      - media:/app/media

  beat:
    build:
      context: .
      dockerfile: infra/docker/web.Dockerfile
    env_file: ops/env/.env.prod
    environment:
      APP_ROLE: beat
    depends_on: [db, redis]
    volumes:
      - media:/app/media

  nginx:
    build:
      context: .
      dockerfile: infra/nginx/nginx.Dockerfile
    image: nginx:1.27-alpine
    depends_on: [web]
    restart: unless-stopped
    ports:
      # - "8080:80"
      - "80:80"
      - "443:443"
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./infra/certbot:/var/www/certbot:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - static:/var/www/static:ro
      - media:/var/www/media:ro
