{% load static %}
{% if root and root.children.all %}
<section class="catalog-section">
  <div class="section__header">
    <a href="{{ root.get_absolute_url }}" class="section__title">
      {{ root.name }}<i data-lucide="link" class="sidebar__icon"></i>
    </a>
  </div>

  <div class="grid--categories">
    {% for child in root.children.all %}
      <a href="{{ child.get_absolute_url }}" class="category-card hover-shadow border">
        <div class="category-card__media">
          {% if child.image %}
            <img src="{{ child.image.url }}" alt="{{ child.name }}">
          {% else %}
            <img src="{% static 'images/none.jpg' %}" alt="{{ child.name }}">
          {% endif %}
        </div>
        <div class="category-card__body">
          <div class="category-card__title-wrap">
            <div class="category-card__title">{{ child.name }}</div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
{% endif %}