{% extends 'main/main.html' %}
{% load static %}
{% block content %}


<div class="pt-3 mb-3 d-flex justify-content-center"> 
  <div class="d-inline-flex px-3 py-2">
    <h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">Восстановление</h3>
  </div>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card shadow-sm p-2 d-inline-flex col-lg-3" style="border-radius: 15px;">

            <div class="card-body">
                
                <form method="POST" action="{% url 'accounts:recovery_input_password' %}" id="recovery-passwords-form">
                  {% csrf_token %}
                  <div class="form-group my-3">
                      <input type="password" class="form-control" id="id_password1" name="password1" required placeholder="Пароль">
                      <small id="password-weak-error" class="text-danger" style="display: none;">Пароль должен содержать от 8 до 64 символов и включать как минимум одну букву и одну цифру.</small>
                  </div>
                  
                  <div class="form-group my-3">
                      <input type="password" class="form-control" id="id_password2" name="password2" required placeholder="Подтверждение пароля">
                      <small id="password-mismatch-error" class="text-danger" style="display: none;">Пароли не совпадают.</small>
                  </div>

                  <button type="submit" class="btn btn-outline-dark" id="recovery-input-button">Сменить пароль</button>

                  {% if messages %}
                      {% for message in messages %}
                        {% if message.tags == 'error' %}
                          <div class="error text-danger mt-2">{{ message }}</div>
                        {% endif %}
                      {% endfor %}
                  {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/recovery_passwords.js' %}"></script>
{% endblock content %}