{% extends 'main.html' %}
{% load static %}
{% load compress %}
{% block content %}
<!-- Страница товара -->

<div class="container">

	<div class="mt-4" class='product-detail' data-product-sku="{{variant.sku}}">

		<div class=" row justify-content-center">

			{% include 'store/partials/product_detail_images.html' with images=variant.images.all %}

			{% include 'store/partials/product_detail_info.html' with variant=variant product=product %}

		</div>

	</div>

</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'store/js/product_datail.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'store/css/store.css' %}">

<script type="text/javascript">

	var imagesData = {{ image_urls|safe }};
	
</script>
{% endcompress %}
{% endblock %}