{% extends 'main.html' %}

{% load static %}
{% load compress %}


{% block css %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'store/css/store.css' %}">
{% endcompress %}
{% endblock %}


{% block content %}

<div class="pt-3 d-flex justify-content-center mb-4"> 

  <div class="d-inline-flex px-3 py-2">

    <h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h3>

  </div>

</div>

<div class="container">

  <div class="row">


    {% include 'store/partials/product_list_filter.html' with brands=brands attributes=attributes selected_attributes=selected_attributes selected_brands=selected_brands category=category %}

    {% include 'store/partials/product_list_cards.html' with page_obj=page_obj %}

  </div>
  {% include 'store/partials/product_list_pagination.html' with page_obj=page_obj%}
</div>

{% endblock content %}


{% block javascript %}
{{ block.super }}
{% compress js %}
<script type="text/javascript" src="{% static 'store/js/product_list.js' %}"></script>
{% endcompress %}
{% endblock %}