{% extends 'main.html' %}
{% load static %}
{% load filters %}
{% load compress %}

{% block css %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/store.css' %}">
  {% endcompress %}
{% endblock %}

{% block content %}

<div class="product-list-container">

  <div class="product-list-wrapper">

    <div class="pt-3 d-flex justify-content-center mb-4"> 

      <div class="d-inline-flex px-3 py-2">
    
        <h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">{% if category %}{{ category.name }}{% elif brand %}{{ brand.name }}{% else %}Товары{% endif %}</h3>
    
      </div>
    
    </div>

    <div class="row products-wrapper m-0">

      <div class="filter-block" id="filterBlockDesktop">

        <div class="d-flex mb-2"> 

          <div class="d-inline-flex">
          
              <p class="variants-count" style="color: black;">{{ page_obj.paginator.count|pluralize_goods }}</p>
          
          </div>
          
        </div>

        <div id="filterBlockMovement">

          {% include 'store/partials/product_list_filter.html' with brands=brands attributes=attributes selected_attributes=selected_attributes selected_brands=selected_brands category=category %}
        
        </div>

      </div>

      <div class="products-container">

        <div class="d-flex mb-2">

          <div class="sort-select-wrapper">

              <div class="sort-select">

                  <div id="sortSelectTrigger" class="sort-select__trigger">

                      <span>Сначала дешевле</span>

                      <img src="{% static 'images/down-arrow.png' %}" width="20" height="20" class='product-sort-arrow'>

                  </div>

                  <div id="sortOptions" class="sort-options">

                      <span class="sort-option selected" data-value="price">Сначала дешевле</span>

                      <span class="sort-option" data-value="-price">Сначала дороже</span>

                  </div>

              </div>

              <button onclick="openModal()" class="filter-mobile-modal-open btn">
                Фильтры
                <img src="{% static 'images/filters.png' %}" width="20" height="20" class='sort-icon'>
              </button>
              
              <div id="filterBlockModalMobile" class="modal">

                <div class="filter-mobile-modal-content" id="filterMobileModalContent">

                  <span class="filter-mobile-modal-close" onclick="closeModal()">&times;</span>

                </div>

              </div>

          </div>

        </div>

        {% if remaining_items <= 0 %}

          <div class="notfound-products-message">Товаров с такими фильтрами не найдено</div>

        {% endif %}

        <div class="row products-list">

            {% include 'store/partials/product_list_cards.html' with page_obj=page_obj %}
            
        </div>

        <div class="pagination-products-block">

          {% if page_obj.paginator.count > page_obj.paginator.per_page %}

              {% include 'store/partials/product_list_pagination.html' with page_obj=page_obj %}

          {% endif %}

        </div>
      </div>

    </div>

  </div>

</div>


{% endblock content %}

{% block javascript %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{% static 'store/js/product_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'store/js/filters.js' %}"></script>
  {% endcompress %}
{% endblock %}