{% extends 'main.html' %}
{% load static %}
{% load filters %}
{% load compress %}

{% block css %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/store.css' %}">
  {% endcompress %}
{% endblock %}

{% block content %}

<div class="product-list-container">

  <div class="product-list-wrapper">

    <div class="pt-3 d-flex justify-content-center mb-4"> 

      <div class="d-inline-flex px-3 py-2">
    
        <h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">Избранное</h3>
    
      </div>
    
    </div>

    <div class="row products-wrapper m-0">

      <div class="products-container">

        <div class="d-inline-flex mb-1">
          
          <p class="variants-count" style="color: black;">{{ page_obj.paginator.count|pluralize_goods }}</p>
      
        </div>

        {% if remaining_items <= 0 %}

          <div class="notfound-products-message">Товаров нет</div>

        {% endif %}

        <div class="row products-list">

            {% include 'store/partials/product_list_cards.html' with page_obj=page_obj %}
            
        </div>

        <div class="pagination-products-block">

          {% if page_obj.paginator.count > page_obj.paginator.per_page %}

              {% include 'store/partials/product_list_pagination.html' with page_obj=page_obj %}

          {% endif %}

        </div>
      </div>

    </div>

  </div>

</div>


{% endblock content %}

{% block javascript %}
  {{ block.super }}
  {% compress js %}
    <script type="text/javascript" src="{% static 'store/js/product_list.js' %}"></script>
  {% endcompress %}
{% endblock %}