{% extends 'main/main.html' %}
{% load static %}
{% block content %}

<div class="pt-3 mb-3 d-flex justify-content-center"> 
  <div class="d-inline-flex px-3 py-2">
    <h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">{% if category %}{{ category.name }}{% elif brand %}{{ brand }}{% elif notfound %}Ничего не найдено{% else %}Найденные товары{% endif %}</h3>
  </div>
</div>
<div class="container">
	<div class="row justify-content-center">
		{% for product in products %}

      <div class="col-lg-2 col-5 p-2 h-auto product-card hover-shadow" style="background-color: white; border-radius: 15px;" data-url="{{ product.get_absolute_url }}">
        <div class="h-100">
          {% if product.new %}
          <div class="d-flex">
            <span class="product-badges" title="NEW">NEW</span>
          </div>
          {% endif %}
          <img class="thumbnail"  src="{{ product.image.url }}">

          <div>
            <div class="box-element product flex-column d-flex">
              <div class="">
                <div class="mb-1">
                  <div class="text-start">
                    {% if product.available_andrey or product.available_damir %}
                    <span class="d-flex" style="color: black;">
                      <i class="dot_in_product_card" style="background-color: green;"></i>
                      В наличии 
                    </span>
                    {% else %}
                      <span class="d-flex" style="color: black;">
                        <i class="dot_in_product_card" style="background-color: red;"></i>
                        Под заказ
                      </span>
                    {% endif %}
                  </div>
                </div>
                <p class="text-start" style="color: rgba(0, 0, 0, 1); font-size: 18px;">{{product.name}}</p>
              </div>

              <div class="mt-auto">
                <h5 class="text-start" style="color: rgba(0, 0, 0, 1); ">{{ product.price|floatformat:"0" }}₽</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
	</div>
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
        const productCards = document.querySelectorAll('.product-card');
        productCards.forEach(card => {
            card.addEventListener('click', function () {
                const url = card.getAttribute('data-url');
                if (url) {
                    window.location.href = url;
                }
            });
        });
    });
</script>
{% endblock content %}