<!-- Информация о товаре -->
{% load filters %}

<div class="col-lg-5 product-detail-info">

	<div class="mb-4"> 

		<div class="product-detail-title d-inline-flex px-3 py-2 product-block-shadow">

			<h3 class="fw-bold mb-0">{{variant.get_full_name}}</h3>

		</div>

	</div>

	<div class="mb-4">

		<div class="product-count product-block-shadow d-inline-flex p-3">

			<span class="d-flex">

				{% if variant.total_inventory %}

					<i class="dot-green"></i>

					В наличии: {{ variant.total_inventory }} шт.

				{% else %}

					<i class="dot-red"></i>

					Под заказ

				{% endif %}

			</span>

		</div>

	</div>

	<div class="mb-4">

		<div class="product-detail-cart product-block-shadow">
			
			<div class="price-container">
				<span class="block-price">
					{{ variant.price|floatformat:"0"|add_thousand_separators }} ₽
				</span>

				{% if variant.is_discounted %}
				<span class="old-block-price"> 
					<del>{{ variant.old_price|floatformat:"0"|add_thousand_separators }} ₽</del>
				</span>
				{% endif %}
			</div>

			<div class="add-to-cart-btn-box d-block">

				<button class="add-to-cart-btn-datail" data-product-sku="{{ variant.sku }}">Купить</button>

			</div>

		</div>

	</div>

	<div class="mb-4">

		<div class="product-detail-attributes product-block-shadow p-3 d-inline-flex flex-column">

			<h5>Характеристики</h5>

			<div class="mt-2 d-flex flex-column">
				
				{% for attribute in attributes %}

					<span>{{ attribute.attribute }}: {{ attribute.value }} {{ attribute.unit }}</span>

					{% if attribute.attribute.slug == 'cvet' %}

						<div class="product-detail-button-container">
							{% for color in all_colors %}

								{% if color.value.value_en ==  attribute.value.value_en %}
		
									<div class="col product-detail-color-button product-detail-color-button-active">

										<div class="product-detail-color" style="background-color: {{ color.value.value_en }};"></div>
										
									</div>

								{% else %}

									<div class="col product-detail-color-button">
					
										<a href="{{ color.variant.get_absolute_url }}">
			
											<div class="product-detail-color" style="background-color: {{ color.value.value_en }};"></div>

										</a>
			
									</div>

								{% endif %}
		
							{% endfor %}

						</div>

					{% endif %}

				{% endfor %}

			</div>

		</div>

	</div>


	<div class="mb-4">

		<div class="product-detail-description mt-0 product-block-shadow p-3 d-inline-flex flex-column">

			<h5>Описание</h5>

			<span>{{variant.product.description|safe}}</span>

		</div>

	</div>

</div>