{% load static %}
{% load filters %}

<div class="pagination">
    {% with total_pages=page_obj.paginator.num_pages current=page_obj.number %}

        {% if page_obj.has_next %}
            <a class='load-products-btn' id="load-more" data-page="{{ current }}">Показать еще {{ remaining_items }}</a>
        {% endif %}

        <div class="product-list-btn-pagination-list">
            {% if current > 1 %}
                <button class="btn product-list-btn-pagination shadow-none product-pagination-prev" data-page="{{ current|add:-1 }}">
                    <img src="{% static 'store/images/prev.png' %}" width="25" height="25">
                </button>
            {% endif %}
            
            {% if current == 1 %}
                <span class="btn product-list-btn-pagination-active shadow-none">1</span>
            {% else %}
                <button class="btn product-list-btn-pagination shadow-none" data-page="1">1</button>
            {% endif %}
            
            {% if current > 4 %}
                <span class="btn product-list-btn-pagination shadow-none">...</span>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
                {% if num >= current|add:'-2' and num <= current|add:'2' and num != 1 and num != total_pages %}
                    {% if num == current %}
                        <span class="btn product-list-btn-pagination-active shadow-none">{{ num }}</span>
                    {% else %}
                        <button class="btn product-list-btn-pagination shadow-none pagination-mobile-none" data-page="{{ num }}">{{ num }}</button>
                    {% endif %}
                {% endif %}
            {% endfor %}
            
            {% if current < total_pages|add:-3 %}
                <span class="btn product-list-btn-pagination shadow-none">...</span>
            {% endif %}
            
            {% if current == total_pages %}
                <span class="btn product-list-btn-pagination-active shadow-none">{{ total_pages }}</span>
            {% else %}
                <button class="btn product-list-btn-pagination shadow-none" data-page="{{ total_pages }}">{{ total_pages }}</button>
            {% endif %}
            
            {% if current < total_pages %}
                <button class="btn product-list-btn-pagination shadow-none product-pagination-next" data-page="{{ current|add:1 }}">
                    <img src="{% static 'store/images/next.png' %}" width="25" height="25">
                </button>
            {% endif %}
        </div>
    {% endwith %}
</div>