{% load static %}
{% load filters %}


<form method="get" action="{% if category %}{% url 'store:catalog' category.slug %}{% elif brand %}{% url 'store:catalog' %}{% endif %}" class="product-filter-form" id="product-filter-form">
    <p class="fw-bold mb-2" style="color: black; font-family: 'Comfortaa', cursive; font-size: 18px">Фильтры</p>

    <div class="form-group">

        {% if brands %}
            <div class="brands-block mb-3">

                <div class="head-product-filter-block d-flex" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse">
                    <p class="fw-bold head-product-filter">Бренд</p>
                    <img src="{% static 'images/down-arrow.png' %}" width="20" height="20" class='collapse-product-filter-btn'>
                </div>

                <div id="collapse{{ attribute.slug }}" class="collapse show">
                    {% for brand in brands %}
                        <div {% if forloop.counter > 5 %}style="display: none;" 
                            class="form-check-product extra-value{% if forloop.counter == 6 %} first-extra{% endif %}"
                                {% elif forloop.counter <= 5 %}class="form-check-product"
                                {% endif %}>

                            
                            <label class="checkbox-label-filter" for="brand_{{ brand.slug }}">
                                <input class="checkbox-input-filter" type="checkbox" name="brand" value="{{ brand.slug }}" id="brand_{{ brand.slug }}"
                                {% if brand.slug in selected_brands %} checked {% endif %}>
                                <span class="checkmark-filter"></span>
                                {{ brand.name }}
                            </label>

                        </div>
                    {% endfor %}
                    {% if brands.count > 5 %}
                        <a href="#" class="show-more-btn" data-show="false" data-target="extra-value">Показать все</a>
                    {% endif %}
                </div>

            </div>
        {% endif %}

        {% if categories %}
            <div class="categories-block mb-3">

                <div class="head-product-filter-block d-flex" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse">
                    <p class="fw-bold head-product-filter">Категория</p>
                    <img src="{% static 'images/down-arrow.png' %}" width="20" height="20" class='collapse-product-filter-btn'>
                </div>

                <div id="collapse{{ attribute.slug }}" class="collapse show">
                    {% for category in categories %}
                        <div {% if forloop.counter > 5 %}style="display: none;" 
                            class="form-check-product extra-value{% if forloop.counter == 6 %} first-extra{% endif %}"
                                {% elif forloop.counter <= 5 %}class="form-check-product"
                                {% endif %}>

                            
                            <label class="checkbox-label-filter" for="category_{{ category.slug }}">
                                <input class="checkbox-input-filter" type="checkbox" name="category" value="{{ category.slug }}" id="category_{{ category.slug }}"
                                {% if category.slug in selected_categories %} checked {% endif %}>
                                <span class="checkmark-filter"></span>
                                {{ category.name }}
                            </label>

                        </div>
                    {% endfor %}
                    {% if categories.count > 5 %}
                        <a href="#" class="show-more-btn" data-show="false" data-target="extra-value">Показать все</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="attributes-block">
            {% for attribute, values in attributes.items %}
                {% if values %}
                    {% if not brand or attribute.slug == 'cvet' %}
                        <div class="attribute-block mb-3">
                            <div class="head-product-filter-block d-flex" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse{{ attribute.slug }}">
                                <p class="fw-bold head-product-filter">{{ attribute.name }}</p>
                                <img src="{% static 'images/down-arrow.png' %}" width="20" height="20" class='collapse-product-filter-btn'>
                            </div>
                
                            <div id="collapse{{ attribute.slug }}" class="collapse show">
                                {% for value in values|order_by_checked:selected_attributes %}

                                    <div {% if forloop.counter > 5 %} style="display: none;" class="form-check-product extra-value
                                            {% if forloop.counter == 6 %} first-extra {% endif %}"
                                            {% elif forloop.counter <= 5 %} class="form-check-product"
                                            {% endif %}>

                                        <label class="checkbox-label-filter" for="{{ attribute.slug }}_{{ value.value_en }}">

                                            <input class="checkbox-input-filter" type="checkbox" name="attr_{{ attribute.slug }}" value="{{ value.value_en }}" id="{{ attribute.slug }}_{{ value.value_en }}"

                                            {% if value.value_en in selected_attributes|get_attr:attribute.slug %}checked{% endif %}>

                                            <span class="checkmark-filter"></span>

                                            {{ value.value }}

                                        </label>

                                    </div>

                                {% endfor %}
                                {% if attribute.values.count > 5 %}
                                    <a href="#" class="show-more-btn" data-show="false" data-target="extra-value">Показать все</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

    </div>

    <button type="button" class="btn btn-outline-dark reset-filters-btn" id="reset-filters">Сбросить</button>

</form>

