{% load filters %}
{% load static %}
{% for variant in page_obj %}
    <div class="p-2 d-flex flex-column product-card">

        <div class="product-card-info">

            <div class="block-badges">

                {% if variant.new %}
        
                    <span class="product-badge-new" title="NEW">NEW</span>

                {% endif %}
                
                <a title="В избранное" class="shadow-none product-badge-like btn p-0 add-to-wishlist" data-variant-id="{{ variant.id }}">
                    {% if variant|is_in_wishlist:request.user %}
                        <img src="{% static 'images/trueheart.png' %}" role="link" width="20" height="20" class="d-flex">
                    {% else %}
                        <img src="{% static 'images/heart.png' %}" role="link" width="20" height="20" class="d-flex">
                    {% endif %}
                </a>

                {% if variant.is_discounted %}
        
                    <span class="product-badge-sale" title="SALE">-{{ variant.old_price|discount_percentage:variant.price|floatformat:"0"}}%</span>
        
                {% endif %}

            </div>

            <div class="swiper product-image-swiper"  data-url="{{ variant.get_absolute_url }}">

                <div class="swiper-wrapper">

                    {% for image in variant.images.all %}

                    <div class="swiper-slide product-image-slide">

                        <div class="product-image">

                            <img src="{{ image.image.url }}">

                        </div>

                    </div>

                    {% endfor %}

                </div>

                <div class="swiper-pagination product-image-pagination"></div>

            </div>

            <div class="box-element product px-1">

                <div class="d-flex">

                    <span class="text-start me-2 product-card-price">
                        {{ variant.price|floatformat:"0"|add_thousand_separators }} ₽
                    </span>

                    <span class="d-flex product-card-count">

                        {% if variant.total_inventory %}

                            <i class="dot-green"></i>
                            В наличии 

                        {% else %}

                            <i class="dot-red"></i>
                            Под заказ

                        {% endif %}

                    </span>

                </div>

                {% if variant.is_discounted %}
                <span class="old-product-card-price"> 
                    <del>{{ variant.old_price|floatformat:"0"|add_thousand_separators }} ₽</del>
                    Скидка продавца
                </span>
                {% endif %}

                <p class="card-title product-card-title"  data-url="{{ variant.get_absolute_url }}">{{variant.get_full_name}}</p>
            </div>


        </div>

        <div class='mt-auto p-1 product-card-btn-block'>
            {% if variant|get_variant_quantity_in_cart:cart == 0 %}
                <button class="add-to-cart-btn shadow-none" data-product-id="{{ variant.id }}"> Купить </button>
            {% else %}
                <div id="quantityControl" style="">
                    <button class="add-to-cart-btn-decrease" data-product-id="{{ variant.id }}">-</button>
                    <span id="product-quantity-{{ variant.id }}">{{variant|get_variant_quantity_in_cart:cart}}</span>
                    <button class="add-to-cart-btn-increase" data-product-id="{{ variant.id }}">+</button>
                </div>
            {% endif %}
        </div>

    </div>
{% endfor %}