/*-------------------------Крестик у товара в корзине------------------*/
.delete-btn {
    display: inline-block;
  }
  
  .delete-btn img.rotate {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .delete-btn img.rotate-reverse {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }
  /*---------------------------------------------------------------------*/