{% load static %}
{% load filters %}

{% for item in items %}
<div class="row mb-3 hover-shadow p-2 product" id="product-{{ item.product.id }}" data-product-id="{{ item.product.id }}">

    <div class="col-lg-3 col-3">
        <img class='thumbnail' src="{{ item.variant.get_first_image_url }}" alt="Product Image">
    </div>

    <div class="row flex-column col-lg col p-0">

        <div class="row col align-items-center pe-0 d-flex">

            <div class="col">
                {% if variant.total_inventory %}

					<i class="dot-green"></i>

					В наличии: {{ variant.total_inventory }} шт.

				{% else %}

					<i class="dot-red"></i>

					Под заказ

				{% endif %}
            </div>

            <div class="col d-flex justify-content-end">
                <a href="#" class="shadow-none btn p-0 delete-btn" data-product-id="{{ item.product.id }}" title="Удалить">
                    <img src="{% static 'images/delete.png' %}" role="link" width="15" height="15" class="mb-1">
                </a>
            </div>

        </div>

        <div class="row col align-items-center mb-2 d-flex">
            <div class="col d-flex align-items-center">
                <a href="{{ item.product.get_absolute_url }}"><p class="fw-bold" style="font-family: 'Comfortaa', cursive;">{{ item.variant.get_full_name }}</p></a>
            </div>
        </div>

        <div class="row col align-items-center pe-0 d-flex">

            <div class="col">
                <div class="counter">
                    <button class="remove-from-cart-btn" data-product-id="{{ item.product.id }}" data-stock-count="10">-</button>
                        <span class="product-quantity" style="font-weight: 400; font-size: 17px">{{ item.quantity }} шт.</span>
                    <button class="add-to-cart-btn" data-product-id="{{ item.product.id }}" data-stock-count="10">+</button>
                </div>
            </div>

            <div class="col-4 d-flex justify-content-end">
                <p class="product-total-price" style="font-weight: 500; font-size: 19px;">{{ item.total|floatformat:0 }} ₽</p>
            </div>

        </div>

    </div>
</div>
{% endfor %}