{% extends "core/base.html" %}
{% load static %}

{% block title %}Каталог товаров{% endblock %}
{% block meta_description %}Каталог BMX-запчастей: бренды, фильтры, наличие. Доставка по РФ.{% endblock %}
{% block canonical %}{{ request.scheme }}://{{ request.get_host }}/catalog/{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'products/css/catalog.css' %}">
{% endblock %}

{% block content %}
<div class="container">

  {# --- Категории --- #}
  {% for root in roots %}
    {% include "products/partials/cats_list.html" with root=root %}
  {% endfor %}

  {# --- Бренды --- #}
  {% if brands %}
  <section class="catalog-section">
    <div class="section__header">
      <a href="{% url 'products:brands' %}" class="section__title">
        Бренды<i data-lucide="link" class="sidebar__icon"></i>
      </a>
    </div>

    <div class="grid--brands">
      {% for brand in brands %}
        <a href="{{ brand.get_absolute_url }}" class="brand-card">
          <div class="brand-card__logo">
            <img src="{{ brand.image.url }}" alt="{{ brand.title }}">
          </div>
          <div class="brand-card__title">{{ brand.title }}</div>
        </a>
      {% endfor %}
    </div>
  </section>
  {% endif %}

</div>
{% endblock %}