{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="pt-3 d-flex justify-content-center"> 
  <div class="d-inline-flex px-3 py-2">
    <h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">Помощь</h3>
  </div>
</div>
<div class="container">
	<div id="faq-chapter-1">
		<div class="pt-3 ms-3 d-flex"> 
  		  <div class="graft d-inline-flex px-3 py-2" style="box-shadow: 0px -2px 10px -8px; border-radius: 15px 15px 0 0; background-color: rgba(247, 248, 199);">
    		<h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">О нас</h3>
  		  </div>
		</div>
	  	<div class="change-color shadow-sm p-3" style="border-radius: 15px; background-color: white"> 
		  <div class="row px-2">
		    <div class=" px-1 mt-0">
				<p class="faq_text mb-0"  style="font-size: 24px;">Привет! Мы первый магазин в России, который специализируется на лёгких велосипедных запчастях. Начали своё существование в 2022, но за довольно короткий срок наладили поставки русских и иностранных брендов. Также развиваем своё производство деталей под брендом Light, пока это мелкие расходники, посмотрим, что будет в будущем)</p>
			</div>
		  </div>
		</div>
	</div>

	<div id="faq-chapter-2" class="pt-5">
		<div class="pt-3 ms-3 d-flex"> 
  		  <div class="graft d-inline-flex px-3 py-2" style="box-shadow: 0px -2px 10px -8px; border-radius: 15px 15px 0 0; background-color: rgba(243, 177, 204);">
    		<h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">Как сделать заказ</h1>
  		  </div>
		</div>
		<div class="change-color shadow-sm p-3 faq-chapter-2" style="border-radius: 15px; background-color: white"> 
		  <div class="row px-2">
		    <div class=" px-1 mt-0">
		    	<h3 class="fw-bold" style="color: black; font-family: 'Comfortaa', cursive;">•Через сайт:</h3>
				<p class="faq_text mb-0" style="font-size: 24px;">
					-Добавьте нужные товары в корзину
					<br>-Введите контактные данные и оформите заказ
					<br>-В течении дня с вами свяжется менеджер через соцсеть, которую вы указали при оформлении заказа 
				<br><br>
				<h3 class="fw-bold" style="color: black; font-family: 'Comfortaa', cursive;">•Через Telegram бота:</h3>
				<p class="faq_text mb-0" style="font-size: 24px;">
					-Перейдите в TG бота:
					<a href="https://t.me/light_bmxshop_Bot" class="ms-1 btn btn-md" style="color: black; font-family: 'Comfortaa', cursive; background-color: rgba(243, 177, 204);">Telegram Bot</a>
					<br>-Напишите /start
					<br>-Перейдите в раздел «Профиль» и заполните информацию о вас
					<br>-С помощью кнопок найдите нужные вам товары и добавьте их в корзину
					<br>-Нажмите кнопку «Оформить заказ» и ожидайте сообщения от Менеджера
				</p>
			</div>
		  </div>
		</div>
	</div>

	<div id="faq-chapter-3" class="pt-5">
		<div class="pt-3 ms-3 d-flex"> 
  		  <div class="graft d-inline-flex px-3 py-2" style="box-shadow: 0px -2px 10px -8px; border-radius: 15px 15px 0 0; background-color: rgba(176, 171, 202);">
    		<h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">Проверка наличия</h3>
  		  </div>
		</div>
		<div class="change-color shadow-sm p-3" style="border-radius: 15px; background-color: white"> 
		  <div class="row px-2">
		    <div class=" px-1 mt-0">
				<p class="faq_text mb-0"  style="font-size: 24px;">
					Для того чтобы проверить наличие нужного вам товара зайдите на страницу товара. Над кнопкой «Добавить в корзину» вы найдёте два наличия (Алексеевская/Солнцево).
					<br>
					<br>
					*Если нужные вам товары находятся на разных складах или вам удобнее забрать с того, на котором товар закончился, то понадобится до 3-х дней, чтобы доставить товар и подготовить его к выдаче
				</p>

			</div>
		  </div>
		</div>
	</div>

	<div id="faq-chapter-4" class="pt-5">
		<div class="pt-3 ms-3 d-flex"> 
  		  <div class="graft d-inline-flex px-3 py-2" style="box-shadow: 0px -2px 10px -8px; border-radius: 15px 15px 0 0; background-color: rgba(195, 213, 168);">
    		<h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">Пункты самовывоза</h3>
  		  </div>
		</div>
		<div class="change-color shadow-sm p-3" style="border-radius: 15px; background-color: white"> 
		  <div class="row px-2">
		    <div class=" px-1 mt-0">
				<p class="faq_text mb-0"  style="font-size: 24px;">В нашем магазине присутствует возможность забрать товар самовывозом. При оформлении заказа укажите «самовывоз», с вами свяжется менеджер и предложит удобное для вас место и время встречи. Зачастую самовывоз осуществляется с метро Алексеевская и Солнцево, но возможны и другие варианты, в случае если админы свободны.
				</p>
			</div>
		  </div>
		</div>
	</div>

	<div id="faq-chapter-5" class="pt-5">
		<div class="pt-3 ms-3 d-flex"> 
  		  <div class="graft d-inline-flex px-3 py-2" style="box-shadow: 0px -2px 10px -8px; border-radius: 15px 15px 0 0; background-color: rgba(202, 184, 156);">
    		<h3 class="fw-bold mb-0" style="color: black; font-family: 'Comfortaa', cursive;">Доставка</h3>
  		  </div>
		</div>
		<div class="change-color shadow-sm p-3" style="border-radius: 15px; background-color: white"> 
		  <div class="row px-2">
		    <div class=" px-1 mt-0">
				<p class="faq_text mb-0"  style="font-size: 24px;">Наш магазин доставляет товары по всей России и СНГ любыми транспортными компаниями. Чтобы заказать товар с доставкой, укажите «доставка» при оформлении заказа и выберите удобную для вас ТК. С вами свяжется менеджер и будет информировать о всех действиях с посылкой.
				</p>
			</div>
		  </div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'cms/js/highlight.js' %}"></script>
{% endblock content %}

